@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.ProseMirror img.ProseMirror-selectednode {
  outline: 1px solid #9580ff;
}

.ProseMirror img {
  border-radius: 5px;
  display: block;
  margin: auto;
  width: 100%;
  max-width: 700px;
}

.code-block {
  position: relative;
}

/* disabling word wrap */
.ProseMirror code {
  width: max-content;
  overflow-x: hidden;
  white-space: pre;
}

.ProseMirror > h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.ProseMirror {
  font-size: 1.1rem;
}
