@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.ProseMirror img.ProseMirror-selectednode {
  outline: 1px solid #4dabf7;
}

.ProseMirror img {
  border-radius: 5px;
  display: block;
  margin: auto;
}

/* disabling word wrap */
.ProseMirror code {
  width: max-content;
  overflow-x: hidden;
  white-space: pre;
}
